# Build tree.
/Build/
/cmake-*/

# Generated input files
/Inputs/
/Publications/karri/Inputs/
/Publications/karri-with-transfers/outputs/

# Output files
/Outputs/

# Various config files.
/.settings/
/.cproject
/.project
/.pydevproject
/.idea/