# Build tree.
/Build/
/cmake-*/

# Generated input files
/Inputs/
/Publications/karri/Inputs/

# Output files
/Outputs/
/Publications/karri-with-transfers/outputs/
/Publications/karri-with-transfers/results/
/Publications/karri-with-transfers/sizes/
/Publications/karri-with-transfers/inputs/

/Publications/single-transfer-journeys/inputs/
/Publications/single-transfer-journeys/outputs/
__pycache__

# Various config files.
/.settings/
/.cproject
/.project
/.pydevproject
/.idea/